<div style="display: inline-block;width: 100%;position: fixed;top: 0;
            background-color: #EFEFEF;box-shadow: 0px 2px 10px #888888; -webkit-box-shadow: 0px 2px 10px #888888;
            padding-top: 6em;padding-right: 10em;padding-bottom: 2em;left: 0;right: 0;z-index: 1">
    <h2 class="page-title" data-bind="text: title"></h2>

    <div style="margin-top: 2em">
        <div data-bind="if: viewController.currentView().name === 'list'">
                  <div data-bind="with: search" class="view-single ui-corner-all" 
                       style="border: thin solid #008000; background-color: #EFEFEF;width: 20%; padding: 1em; margin-top: 2em;right: 0;right: 10px;position: fixed;top: 200px">
                      <div class="row">
                          <div class="span3">
                              <div>
                                  <span>بدون شرط دوره </span>
                                  <button data-bind="checkboxImage: { checked: periodIncluded }"></button>
                              </div>
                          </div>
                          <div class="span3">
                              <div>
                                   <label>شماره : </label>
                                  <input type="text" data-bind="value: no" style="width: 50px"/>
                              </div>
                          </div>
                          <div class="span3">
                              <div>
                                  <label>شماره نامه : </label>
                                  <input type="text" data-bind="value: letterNo" style="width: 100px"/>
                              </div>
                          </div>
                          <div class="span3">
                               <label>تاریخ نامه : </label>
                              <input type="text" data-bind="myDatePicker: letterDate, value: letterDate" 
                                     data-converter="value: persianDate"/>
                          </div>
                      </div>
                      <div class="row">
                          <a class="btn btn-success" data-bind="click: $parent.init">
                              <i class="icon-search icon-white"></i>
                              جستجو
                          </a>
                      </div>
                  </div>

                  <div style="margin-top: 2em">
                      <a class="btn btn-primary" data-bind="click: add">
                          <i class="icon-plus icon-white"></i>
                          جدید
                      </a>
                  </div>

              </div>    

        <div data-bind="if: viewController.currentView().name === 'singleRead'">
            <a class="btn btn-inverse" data-bind="click: returnToList">
                <i class="icon-arrow-right icon-white"></i>
                بازگشت به لیست
            </a>
            &nbsp;
            <a  class="btn" data-bind="click: changeShowCurrentDetailRead">
                <i class="icon-fullscreen"></i>
                نمایش کامل
            </a>
            &nbsp;
            <a class="btn btn-primary" data-bind="click: edit">
                <i class="icon-edit icon-white"></i>
                ویرایش
            </a>
        </div>    

        <div data-bind="if: viewController.currentView().name === 'singleEdit'">
            <a class="btn btn-inverse" data-bind="click: returnToList">
                <i class="icon-arrow-right icon-white"></i>
                بازگشت به لیست
            </a>
            &nbsp;
            <a class="btn btn-primary" data-bind="click: returnToRead">
                <i class="icon-share icon-white"></i>
                بستن ویرایش
            </a>
            &nbsp;
            <a class="btn btn-info" href="#" data-bind="click: save, css: { disabled: !hasChanges() }" style="margin-left: 0.5em">
                <i class="icon-save icon-white"></i> ذخیره 
            </a>
            &nbsp;
            <a class="btn" href="#" data-bind="click: cancel, css: { disabled: !hasChanges() }" style="margin-left: 0.5em">
                <i class="icon-repeat"></i> انصراف 
            </a>
            &nbsp;
            <a class="btn btn-danger" href="#" data-bind="click: remove" style="margin-left: 0.5em">
                <i class="icon-trash icon-white"></i> حذف 
            </a>
            &nbsp;
            <a class="btn" href="#" data-bind="click: print" style="margin-left: 0.5em">
                <i class="icon-print"></i> چاپ 
            </a>

        </div>
    </div>

</div>