<style>
    .banner {
        background: url(/Content/images/banner.png);
        height: 70px;
        margin: 0;
        top: 0;
        width: 100%;
        text-align: right;
        position: absolute
    }
    .logo {
        width: 70px;
        height: 70px
    }

</style>
<div class="banner">
    <div class="pull-right">
        <img src="/Content/images/CustomerLogo.png" class="img-circle logo" />
    </div>

    <div class="pull-right font-white" style="margin-top: 10px;margin-right: 20px;">
        <p style="font-size: 25px">شرکت توانیر</p>
        <span>
            شرکت سهامی مدیریت تولید ، انتقال و توزیع نیروی برق ایران
        </span>
    </div>
</div>

