<nav class="navbar navbar-fixed-top">

    <div class="navbar-inner " >
        <div class="container" style="width: auto;">
                 
            <ul class="nav pull-right" role="navigation">
                <li class="dropdown">
                    <a href="#" id="A3" role="button" class="dropdown-toggle" data-toggle="dropdown"> <span class="menu-Title">تنظیمات</span>  <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/defaultSetting">تنظیمات پیش فرض</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/period">دوره</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/security/main">مدیریت امنیت</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/consumerSectionRequest/confirmOne">تاییدیه</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/consumerSectionRequest/expertOne">کارشناس اول</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/consumerSectionRequest/expertTwoGood">کارشناس کالا</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" id="A4" role="button" class="dropdown-toggle" data-toggle="dropdown"> <span class="menu-Title">گزارشات</span>  <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestGood/requestGoodReview">مرور درخواست کالا</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestService/requestReview/Service">مرور درخواست خدمات</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestService/requestReview/Food">مرور درخواست مواد غذایی</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestService/requestReview/Vehicle">مرور درخواست نقلیه</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" id="A2" role="button" class="dropdown-toggle" data-toggle="dropdown"> <span class="menu-Title">درخواست</span>  <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestGood/main">درخواست کالا</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestService/main">درخواست خدمات</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestFood/main">درخواست مواد غذایی</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestVehicle/main">درخواست نقلیه</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/requestTicket/main">درخواست بلیط</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/inventory/input/main">رسید</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/inventory/output/main">حواله</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a  id="A1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <span class="menu-Title">اطلاعات پایه</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/itemGood"> کالا </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/itemService"> خدمات </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/itemFood"> مواد غذایی </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/itemVehicle"> نقلیه </a></li>

                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/everyone"> اشخاص </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/purchasingOfficer"> کارپرداز </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/stock"> انبار </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/section"> قسمت </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/seller"> فروشنده </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/driver"> راننده </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/vehicle"> وسیله نقلیه </a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/costType"> نوع هزینه </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/vehicleType"> نوع وسیله نقلیه </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/scale"> واحد اندازه گیری </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/userDefinedCategory"> دسته بندی سفارشی </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-home"></i> <span class="menu-Title icon-white">خانه</span> </a>
                </li>
                
            </ul>
            
            <div class="nav pull-left">
                <img src="../../Content/images/anonymousUser.jpg" style="width: 50px;height: 50px" class="img-circle"/>
            </div>
            <div class="nav pull-left">
                <span class="userInfo" data-bind="text: currentUser" style="width: 500px"></span>
                <br/>
                <a  data-bind="click: logoff" class="pull-left pointer">خروج</a>
            </div>
            
        </div>
    </div>
   
    <div  class="pull-left badge badge-inverse pointer" data-bind="click: periodSelector.changeShow" >
        دوره جاری
        <span data-bind="text: helper.defaults.currentPeriodTitle"></span>
    </div>
    <!-- <div  class="pull-right label label-inverse" >
        امروز
        <span data-bind="text: (new Date).toPersian()"></span>
    </div>-->
   <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
         <div class="progress progress-striped active page-progress-bar">
             <div class="bar" style="width: 200px;"></div>
         </div>
     </div>
</nav>