<div>
    <span class="badge pointer" data-bind="click: changeShowMaster" 
        style="padding-top: 0.5em;padding-bottom: 0.5em;padding-left: 1em;padding-right: 1em;;width: 100%">
        <i class="icon-white" data-bind="css: { 'icon-plus': !canShowMaster(), 'icon-minus': canShowMaster() }"></i>
        بخش درخواست
    </span>
    <div class="labelBold ui-corner-all" data-bind="with: current, visible: canShowMaster()" style="background-color: #DADAE0; padding: 2em">
        <div class="row" style="font-weight: bold" data-bind="with: CreatedByUser">
            صادر شده توسط 
            <span data-bind="text: FirstName() + ' ' + LastName()"></span>
        </div>
        <hr/>
        <div class="row">
            <div class="span3" style="width: 100px">
                <div>
                    <label>شماره : </label>
                    <span data-bind="text: No"></span>
                </div>
            </div>
            
            <div class="span3" style="width: 100px">
                <div>
                    <label>تاریخ : </label>
                    <input type="text" data-bind="value: Date"/>
                </div>
            </div>
            <div class="span3">
                <label>نامه (ها)</label>
                <button  class="btn-toggle ui-corner-top " data-bind="css: { 'ui-corner-bottom': !$root.letter.isLetterOpen() }, click: $root.letter.openLetter">
                    <i data-bind="css: { 'icon-envelope': !$root.letter.isLetterOpen(), 'icon-remove-circle': $root.letter.isLetterOpen() }"></i> 
                    <span data-bind="    text: !$root.letter.isLetterOpen() ? ' نامه ' : ' بستن '"></span>
                </button>

                <div>
                    <div class="ui-corner-all popupx" data-bind="with: $root.letter, visible: $root.letter.isLetterOpen()" style="width: 400px">
                        <!--ko compose: {view: 'letter'} --><!--/ko-->
                    </div>
                </div>
            </div>
            <div class="span3">
                <div>
                    <label>اقدام کننده: </label>
                    <input  data-bind="combo: { modelProp: PerformerSection, valueProp: PerformerSectionID, displayProp: 'Title', allData: true }"/>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div>
                <div class="span3">
                    <div>
                        <label>قسمت : </label>
                        <input data-bind="combo: { modelProp: Section, valueProp: SectionID, displayProp: 'Title', allData: true }"/>
                    </div>
                </div>
                <div class="span3">
                    <div>
                        <label>محل مصرف : </label>
                        <input data-bind="combo: { modelProp: ConsumerSection, valueProp: ConsumerSectionID, displayProp: 'Title', allData: true }"/>
                    </div>
                </div>
                <div class="span3">
                    <div>
                        <label>درخواست دهنده : </label>
                        <input  data-bind="combo: { modelProp: Person, valueProp: PersonID, displayProp: 'FirstName,LastName', allData: true }"/>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span3">
                <div>
                    <label>کارپرداز : </label>
                    <input  data-bind="combo: { modelProp: PurchasingOfficer, valueProp: PurchasingOfficerID, displayProp: 'Title', allData: true }"/>
                </div>
            </div>
            <div class="span3">
                <label>تاریخ ارائه به کارپرداز : </label>
                <input type="text" data-bind="value: OrderDate"/>
            </div>
            <div class="span3">
                <div>
                    <label>فوری ؟</label>
                    <button data-bind="checkboxImage: { checked: IsFast }"></button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span3">
                <div>
                    <label>وضعیت : </label>
                    <input data-bind="enumCombo: { Type: 'RequestStatus', value: Status }" />
                </div>
            </div>
            <div class="span3">
                <div>
                    <label>روش خرید : </label>
                    <input data-bind="enumCombo: { Type: 'PurchaseMethod', value: PurchaseMethod }" />
                </div>
            </div>
            <div class="span3">
                <div>
                    <label>دسته بندی : </label>
                    <input  data-bind="combo: { modelProp: UserDefinedCategory, valueProp: UserDefinedCategoryID, displayProp: 'Title', allData: true }"/>
                </div>
            </div>
        </div>
        <hr/>
        <div data-bind="visible: $root.hasChanges() && $data.hasValidationErrors()" class="row"  style="background-color: #FFFFB9;width: 100%">
            <!--ko compose: {view: 'layout/validationSummary'} --><!--/ko-->
        </div>
    </div>
    <span class="badge badge-success pointer" data-bind="click: changeShowDetail" 
          style="padding-top: 0.5em;padding-bottom: 0.5em;padding-left: 1em;padding-right: 1em;width: 100%">
        <i class="icon-white" data-bind="css: { 'icon-plus': !canShowDetail(), 'icon-minus': canShowDetail() }"></i>
        بخش بلیط
    </span>

    <div class="view-single ui-corner-all" data-bind="with: current, visible: canShowDetail()" style="background-color: rgb(234, 255, 234); padding: 2em">
        <div style="margin-bottom: 1em">
            <a class="btn btn-primary" data-bind="click: $root.addDetail">
                <i class="icon-plus icon-white"></i>
                جدید
            </a>
            &nbsp;
            <span data-bind="if: $parent.currentDetail()">
                <a class="btn btn-danger" data-bind="click: $root.removeDetail">
                    <i class="icon-trash icon-white"></i>
                    حذف
                </a>
                &nbsp;
                <a class="btn" data-bind="click: $root.changeShowCurrentDetailFull">
                    <i class="icon-fullscreen"></i>
                    سایر اطلاعات
                </a>
                &nbsp;
                <a class="btn btn-success" data-bind="click: $root.openEffectiveCostDetail">
                    هزینه های موثر
                </a>
                &nbsp;
                <a class="btn" data-bind="click: $root.openSmallCostDetail">
                    ریز هزینه ها
                </a>
            </span>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>مسافر</th>
                    <th>تاریخ رفت</th>
                    <th>تاریخ برگشت</th>
                    <th>قیمت رفت</th>
                    <th>قیمت برگشت</th>
                    <th>تاریخ انجام</th>
                    <th>لغو شده ؟</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: RequestDetailTickets">
                <tr data-bind="click: $root.selectDetail, css: { info: $data == $root.currentDetail() }" class="pointer">
                    <td data-bind="text: Row"></td>
                    <td>
                        <input style="width: 100px" 
                            data-bind="combo: { modelProp: Passenger, displayProp: 'FirstName,LastName', valueProp: PassengerID, allData: true }"/>
                    </td>
                    <td>
                        <input type="text" data-bind="value: GoOnDate"/>
                    </td>
                    <td>
                        <input type="text" data-bind="value: ReturnDate"/>
                    </td>
                    <td>
                        <input type="text" data-bind="value: GoOnPrice" data-converter="value: float" style="width: 120px"/>
                    </td>
                    <td>
                        <input type="text" data-bind="value: ReturnPrice" data-converter="value: float" style="width: 120px"/>
                    </td>
                    <td>
                        <input type="text" data-bind="value: DoneDate"/>
                    </td>
                    <td>
                        <button data-bind="checkboxImage: { checked: IsCancel }"></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="background-color: #FFFFB9" data-bind="visible: $root.hasChanges && $data.hasValidationErrors()">
                        <!--ko compose: {view: 'layout/validationSummary'} --><!--/ko-->
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td data-bind="text: TotalPriceTemp" data-converter="text: float"></td>
                    <td></td>
                    <td></td>
                </tr>

            </tfoot>
        </table>
    </div>

    <span class="badge badge-warning pointer" data-bind="click: changeShowFinance" 
          style="padding-top: 0.5em;padding-bottom: 0.5em;padding-left: 1em;padding-right: 1em;width: 100%">
        <i class="icon-white" data-bind="css: { 'icon-plus': !canShowFinance(), 'icon-minus': canShowFinance() }"></i>
        بخش مالی
    </span>
</div>


<div class="view-single ui-corner-all" data-bind="with: current, visible: canShowFinance()" style="background-color: rgb(255, 255, 193); padding: 2em">
    این بخش هنوز پیاده سازی نشده است
</div>