<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    
    <!--ko compose: {view: 'layout/standardButtons'} --><!--/ko-->

    <a class="btn btn-primary" data-bind="click: add">
        <i class="icon-plus icon-white"></i>
        جدید
    </a>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><b>شناسه</b></th>
                <th><b>عنوان</b></th>
                <th><b>ماهیت</b></th>  
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: costTypes">
            <tr>
                <td data-bind="text: ID"></td>
                <td><input type="text" data-bind="value: Title" required style="width: 300px"/></td>
                <td style="width: 300px">
                    <input style="width: 200px" data-bind="enumCombo: { Type: 'NatureCost', value: NatureCost }"/>
                </td>
                <td>
                    <a class="btn btn-danger" href="#" data-bind="click: $parent.remove"><i class="icon-trash icon-white"></i> حذف </a> 
                </td>
            </tr>
             <tr data-bind="visible: $root.hasChanges() && $data.hasValidationErrors()" style="background-color: #FFFFB9">
                <td colspan="5">
                    <!--ko compose: {view: 'layout/validationSummary'} --><!--/ko-->
                     
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" >
                    <div data-bind="with: costTypepager">
                        <!--ko compose: {view: 'layout/pager'} --><!--/ko-->
                    </div>
                    
                </td>
            </tr>
        </tfoot>
    </table>
   
   
</section>
