<content title="{{title}}">
    <form name="form">
        <a class="btn btn-success" ng-click="save(form)" ng-disabled="form.$invalid">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            {{'SAVE' | translate}}
        </a>
        <a class="btn btn-default" ng-click="remove()" >
            <i class="glyphicon glyphicon-trash"></i>
            {{'REMOVE' | translate}}
        </a>

        <a class="btn btn-primary" ng-click="assignOfficer()" >
            <!--<i class="glyphicon glyphicon-trash"></i>-->
            {{'ASSIGNOFFICER' | translate}}
        </a>

        <a class="btn btn-primary" ng-click="close()" >
            <!--<i class="glyphicon gly"></i>-->
            {{'CLOSE' | translate}}
        </a>

        <a class="btn btn-primary" ng-click="addDetail()">
            <i class="glyphicon glyphicon-plus"></i>
            {{'ADDDETAIL' | translate}}
        </a>

        <a class="btn btn-primary" ng-click="openModal()">
            <i class="glyphicon glyphicon-plus"></i>
            {{'ADDDETAIL' | translate}}
        </a>

        <div class="row" style="padding: 5px">
            <div class="form-group" ng-class="{ 'has-error' : form.date.$invalid && !form.date.$pristine }">
                <label class="control-label" >{{'DATE' | translate}}</label>
                <div>
                    <datepicker model="orderFood.date"  name="date" required ></datepicker>
                </div>
                <p ng-show="form.date.$invalid && !form.date.$pristine">
                    <span class="label label-danger">{{'DATE IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.sectionId.$invalid && !form.sectionId.$pristine }">
                <label class="control-label" >{{'SECTION' | translate}}</label>
                <div>
                    <combo url="/api/sections" valueprop="id" displayprop="title" placeholder="..."
                           model="orderFood.sectionId" name="sectionId" width="400px" required ></combo>
                </div>
                <p ng-show="form.sectionId.$invalid && !form.sectionId.$pristine">
                    <span class="label label-danger">{{'SECTION IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.consumerId.$invalid && !form.consumerId.$pristine }">
                <label class="control-label" >{{'CONSUMER' | translate}}</label>
               <div>
                   <combo url="/api/sections" valueprop="id" displayprop="title" placeholder="..."
                          model="orderFood.consumerId" name="consumerId" width="400px" required></combo>
               </div>
                <p ng-show="form.consumerId.$invalid && !form.consumerId.$pristine">
                    <span class="label label-danger">{{'CONSUMER IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.requesterId.$invalid && !form.requesterId.$pristine }">
                <label class="control-label" >{{'REQUESTER' | translate}}</label>
                <div>
                    <combo url="/api/employees" valueprop="id" displayprop="title" placeholder="..."
                           model="orderFood.requesterId" width="400px" ></combo>
                </div>
                <p ng-show="form.requesterId.$invalid && !form.requesterId.$pristine">

                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                <label class="control-label" >{{'PURCHASEMETHOD' | translate}}</label>
                <div>
                    <dropdownlist valueprop="key" displayprop="value" data="purchaseMethod" name="purchaseMethod" model="orderFood.purchaseMethod" required/>
                </div>

                <p ng-show="form.title.$invalid && !form.title.$pristine">
                    <span class="label label-danger">{{'TITLE IS REQUIRED' | translate}}</span>
                </p>
            </div>
        </div>
    </form>
</content>

<content ng-if="orderLoaded" title="ردیف ها">

    <grid readUrl="{{'/api/orderFoods/' + orderFood.id + '/details'}}"
          columns="detailColumns"
          commands="detailCommands"
          option="gridDetailOption">
    </grid>
</content>


<modal options="winOption" title="{{winOption.title}}" >
    <modalbody>
        <form name="form" ng-if="currentDetail != null">
            <div class="form-group" ng-class="{ 'has-error' : form.foodId.$invalid && !form.foodId.$pristine }">
                <label class="control-label" >{{'FOOD' | translate}}</label>
                <div>
                    <combo url="/api/foods" valueprop="id" displayprop="title" placeholder="..."
                           name="foodId"
                           model="currentDetail.foodId" select="afterFoodSelect(item)"
                           width="400px" required></combo>
                </div>
                <p ng-show="form.foodId.$invalid && !form.foodId.$pristine">
                    <span class="label label-danger">{{'FOOD IS REQUIRED' | translate}}</span>
                </p>
            </div>
        </form>
        <div class="form-group" ng-class="{ 'has-error' : form.qty.$invalid && !form.qty.$pristine }">
            <label class="control-label" >{{'QTY' | translate}}</label>
            <div>
                <numeric model="currentDetail.qty" name="qty" required/>
            </div>
            <p ng-show="form.qty.$invalid && !form.qty.$pristine">
                <span class="label label-danger">{{'QTY IS REQUIRED' | translate}}</span>
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.price.$invalid && !form.price.$pristine }">
            <label class="control-label" >{{'PRICE' | translate}}</label>
            <div>
                <numeric model="currentDetail.price" isprice="true" name="price" required/>
            </div>
            <p ng-show="form.price.$invalid && !form.price.$pristine">
                <span class="label label-danger">{{'PRICE IS REQUIRED' | translate}}</span>
            </p>
        </div>
    </modalbody>
    <modalfooter>
        <a ng-click="cancelDetail()"class="btn btn-default">{{'CANCEL' | translate}}</a>
        <a ng-click="saveDetail()" class="btn btn-primary">{{'SAVE' | translate}}</a>
    </modalfooter>
</modal>



