<thead>
    <tr>
        <th>شامل خرید ؟</th>
        <th>مسافر</th>
        <th>تاریخ رفت</th>
        <th>تاریخ برگشت</th>
        <th>مبدا</th>
        <th>مقصد</th>
        <th>شماره بلیط</th>
        <th>قیمت رفت</th>
        <th>قیمت برگشت</th>
        <th>تاریخ انجام</th>
        <th></th>
    </tr>

</thead>
                          
<tbody data-bind="foreach: RequestDetailTickets">
    <tr>
        <td>
            <span data-bind="css: { 'icon-dollar': IsOrder() }"></span>
        </td>
        <td>
            <span data-bind="with: Passenger">
                <span data-bind="text: FirstName() + ' ' + LastName()"></span>
            </span>
        </td>
        <td>
            <span data-bind="text: GoOnDate"></span>
        </td>
        <td>
            <span data-bind="text: ReturnDate"></span>
        </td>
        <td >
            <span data-bind="text: Origin"></span>
        </td>
        <td>
            <span data-bind="text: Destination"></span>
        </td>
        <td>
            <input type="text" data-bind="value: TicketNo"/>
        </td>
        <td>
          <input type="text" data-bind="value: GoOnPrice"/> 
        </td>
        <td>
            <input type="text" data-bind="value: ReturnPrice"/>
        </td>
        <td>
           <input type="text" data-bind="value: DoneDate"/>
        </td>
    </tr>
</tbody>

