
<thead>
    <tr>
        <th>شامل خرید ؟</th>
        <th>شرح خدمات درخواستی</th>
        <th>خدمات قطعی</th>
        <th>مقدار مورد نیاز</th>
        <th>مقدار تایید شده</th>
        <th>مقدار قطعی</th>
    </tr>
</thead>
                          
<tbody data-bind="foreach: RequestDetailServices">
 <tr>
    <td>
        <button data-bind="checkboxImage: { checked: IsOrder }" ></button>
    </td>
    <td
        style="max-width: 200px">
        <span data-bind="text: ItemDescription"></span>
    </td>
     <td style="width: 300px">
         <span>
             <span > <!--data-bind="if: $parent.RequestType() === 'Service'"-->
                 <input data-bind="combo: { modelProp: ItemService, valueProp: ItemServiceID, displayProp: 'Title', allData: true, expands: ['Scale'], callbackAfterUpdate: $root.callbackAfterItemUpdate }" />
             </span>
         </span>
     </td>
    <td>
        <span data-bind="text: NeedQty"></span>
        <span data-bind="text: ScaleDescription"></span>
    </td>
    <td>
        <span data-bind="text: AcceptQty"></span>
    </td>
    <td>
        <input type="text" data-bind="value: Qty" style="width: 70px"/>
        <span data-bind="with: Scale">
            <span data-bind="text: Title"></span>
        </span>
    </td>
</tr>

</tbody>





