 <table data-bind="if: entityType.shortName === 'RequestGood', visible: entityType.shortName === 'RequestGood'" 
        class="table" style="background-color: transparent" >
     <!--ko compose: {view: 'requestStepTmp/approval/requestDetail-good'} --><!--/ko-->
 </table>


<table data-bind="if: entityType.shortName === 'RequestFood', visible: entityType.shortName === 'RequestFood'" 
       class="table" style="background-color: transparent" >
    <!--ko compose: {view: 'requestStepTmp/approval/requestDetail-food'} --><!--/ko-->
</table>

                                                
<table data-bind="if: entityType.shortName === 'RequestService', visible: entityType.shortName === 'RequestService'" 
       class="table" style="background-color: transparent" >
    <!--ko compose: {view: 'requestStepTmp/approval/requestDetail-service'} --><!--/ko-->
</table>

                                                
<table data-bind="if: entityType.shortName === 'RequestTicket', visible: entityType.shortName === 'RequestTicket'" 
       class="table" style="background-color: transparent" >
    <!--ko compose: {view: 'requestStepTmp/approval/requestDetail-ticket'} --><!--/ko-->
</table>

                                                
<table data-bind="if: entityType.shortName === 'RequestVehicle', visible: entityType.shortName === 'RequestVehicle'" 
       class="table" style="background-color: transparent" >
    <!--ko compose: {view: 'requestStepTmp/approval/requestDetail-vehicle'} --><!--/ko-->
</table>

