<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    
    <!--ko compose: {view: 'layout/standardButtons'} --><!--/ko-->
    
    <!--ko compose: {view: 'layout/viewController'} --><!--/ko-->
    
    <a class="btn btn-primary" data-bind="click: add">
        <i class="icon-plus icon-white"></i>
        جدید
    </a>

    <table class="table table-condensed table-hover" data-bind="visible: viewController.currentView().name === 'list'" >
        <thead>
            <tr>
                <th>شناسه</th>
                <th>عنوان</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>
                     <form class="form-search" data-bind="submit: init">
                        <span class="icon-search"></span>
                        <input type="text" data-bind="value: titleSearch, valueUpdate: 'afterkeydown'"
                               style="width: 70%;display: inline;background-color: white" placeholder="عنوان" class="search-query"/>
                    </form>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sellers">
            <tr>
                <td data-bind="text: ID"></td>
                <td>
                    <input type="text" data-bind="value: Title" style="width: 90%"/>
                </td>
                <td>
                    <a class="btn btn-danger" data-bind="click: $root.remove">
                        <i class="icon-trash icon-white"></i>
                        حذف
                    </a>
                </td>
            </tr>
            <tr data-bind="visible: $root.hasChanges() && $data.hasValidationErrors()" style="background-color: #FFFFB9">
                <td colspan="6">
                    <!--ko compose: {view: 'layout/validationSummary'} --><!--/ko-->
                     
                </td>
            </tr>
        </tbody>
    </table>

    <div data-bind="foreach: sellers,visible: viewController.currentView().name === 'icon'" style="margin-top: 10em">
        <div class="row view-list">
            <div class="span4">
                <div>
                    <label>شناسه</label>
                    <span data-bind="text: ID"></span>
                </div>
                <div>
                    <label>عنوان</label>
                    <input type="text" data-bind="value: Title" />
                </div>
                <div>
                    <label>کد اقتصادی</label>
                    <input type="text" data-bind="value: EconomicIssue" />
                </div>
                
            </div>
            <div class="span4">
                <div>
                    <label>تلفن</label>
                    <input type="text" data-bind="value: Phone" />
                </div>
                <div>
                    <label>موبایل</label>
                    <input type="text" data-bind="value: Mobile" />
                </div>
                <div>
                    <label>فکس</label>
                    <input type="text" data-bind="value: Fax" />
                </div>
            </div>
            <div class="span2">
                <div class="btn-group-vertical">
                    <a class="btn btn-danger" href="#" data-bind="click: $parent.remove"><i class="icon-trash icon-white"></i> حذف </a> 
                </div>
            </div>
            <div class="row">
                <div>
                    <label>آدرس</label>
                    <textarea data-bind="value: Address" style="width: 70%"></textarea>
                </div>
            </div>
        </div>
        
        <div class="row" data-bind="visible: $root.hasChanges() && $data.errors.count()" style="background-color: #FFFFB9">
             <!--ko compose: {view: 'layout/validationSummary'} --><!--/ko-->
        </div>
    </div>
     <div data-bind="with: pager">
       <!--ko compose: {view: 'layout/pager'} --><!--/ko-->
    </div>
   
</section>
