<div style="margin-right: 200px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>شماره</th>
                <th>تاریخ</th>
                <th>قسمت</th>
                <th>شرح</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: outputs">
            <tr>
                <td data-bind="text: No"></td>
                <td data-bind="text: Date"></td>
                <td data-bind="with: Section">
                    <span data-bind="text: Title"></span>
                </td>
                <td data-bind="text: Des"></td>
                <td>
                    <a class="btn btn-primary pointer" data-bind="click: $parent.select">
                        <i class="icon-hand-up icon-white"></i>
                        انتخاب
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <div data-bind="with: pager">
        <!--ko compose: {view: 'layout/pager'} --><!--/ko-->
    </div>
</div>

<div data-bind="with: search" class="view-single ui-corner-all" 
     style="border: thin solid #008000; background-color: #EFEFEF;width: 20%; padding: 1em; margin-top: 2em;right: 0;right: 10px;position: fixed;top: 200px">
    <div class="row">
        <div class="span3">
            <div>
                <span>بدون شرط دوره </span>
                <button data-bind="checkboxImage: { checked: periodIncluded }"></button>
            </div>
        </div>
        <div class="span3">
            <div>
                <label>شماره : </label>
                <input type="text" data-bind="value: no" style="width: 50px"/>
            </div>
        </div>
        <div class="span3">
            <div>
                <label>شماره نامه : </label>
                <input type="text" data-bind="value: letterNo" style="width: 100px"/>
            </div>
        </div>
        <div class="span3">
            <label>تاریخ نامه : </label>
            <input type="text" data-bind="myDatePicker: letterDate, value: letterDate" 
                   data-converter="value: persianDate"/>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success" data-bind="click: $parent.init">
            <i class="icon-search icon-white"></i>
            جستجو
        </a>
    </div>
</div>



