<section>
    <style>
       .view-single label {
           font-size: 12px;
           width: 130px
       }

       .view-single span {
           font-size: 12px
       }

       .small {
           width: 100px
       }

        .btn-group > .btn {
            position: relative;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

            .btn-group > .btn:first-child {
                margin-left: 0;
                -webkit-border-bottom-left-radius: 0px;
                border-bottom-left-radius: 0px;
                -webkit-border-top-left-radius: 0px;
                border-top-left-radius: 0px;
                -moz-border-radius-bottomleft: 4px;
                -moz-border-radius-topleft: 4px;
            }
            .btn-group > .btn:first-child {
                margin-right: 0;
                -webkit-border-top-right-radius: 4px;
                border-top-right-radius: 4px;
                -webkit-border-bottom-right-radius: 4px;
                border-bottom-right-radius: 4px;
                -moz-border-radius-topright: 4px;
                -moz-border-radius-bottomright: 4px;
            }
            .btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
                -webkit-border-bottom-left-radius: 4px;
                border-bottom-left-radius: 4px;
                -webkit-border-top-left-radius: 4px;
                border-top-left-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                -moz-border-radius-topleft: 4px;
            }

          .btn-group {
              margin-bottom: 5px;
              width: 100%
          }
    </style>
    <h2 class="page-title" data-bind="text: title" style="margin-bottom: 50px;"></h2>
    <!-- #E2EFFC -->

    <a class="btn btn-primary" href="#" data-bind="click: init" style="margin-left: 0.5em;margin-top: 2em">
        <i class="icon-refresh icon-white"></i> بازیابی 
    </a>

    <div class="view-single  container-fluid visible-desktop ui-corner-all" style="width: 90%;background-color: #FA8DA7;margin-top: 50px;padding: 2em" > 
        <div data-bind="foreach: requests,visible: requests.any()">
            <div class="row" >
                <div class="span3 small">
                    <a class="pointer" 
                       title="جزئیات درخواست"
                       data-bind="click: $parent.changeShowStatus, css: { 'icon-plus': !ShowDetail(), 'icon-minus': ShowDetail() }"></a>
                </div>
                <div class="span3">
                    <div>
                        <label>شماره :</label>
                        <span data-bind="text: ID"></span>
                    </div>
                    <div>
                        <label>تاریخ :</label>
                        <span data-bind="text: Date"></span>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <label>معاونت :</label>
                        <span data-bind="with: Section">
                            <span data-bind="with: Parent">
                                <span data-bind="text: Title" class="bold"></span>
                            </span>
                        </span>
                    </div>
                    <div>
                        <label>قسمت :</label>
                        <span data-bind="with: Section">
                            <span data-bind="text: Title" class="bold" style="overflow-x: hidden;width: 90%"></span>
                        </span>
                    </div>
                    <div>
                        <label>درخواست دهنده :</label>
                        <span data-bind="with: Person">
                            <span data-bind="text: FirstName() + ' ' + LastName()" class="bold"></span>
                        </span>
                    </div>
                </div>
                <div class="span2">
                    <a class="btn btn-success btn-block" data-bind="click: $root.saveRequest">
                        <i class="icon-save icon-white"></i>
                        ذخیره
                    </a>
                    <a class="btn btn-primary btn-block" data-bind="click: $root.goToOutputInventory, css: { disabled: !hasInventory() }">
                        <i class="icon-ok icon-white"></i>
                        صدور حواله
                    </a>

                    <div class="btn-group" style="margin-top: 10px">
                        <a class="btn btn-primary" 
                            >
                            <i class="icon-hand-left icon-white"></i>
                            سفارش خرید
                        </a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu  pull-right">
                            <li>
                                <a class="pointer"
                                   data-bind="click: $parent.goToOrderAll"
                                    >
                                    <i></i>
                                    <span>همه کالاها</span>
                                </a>
                            </li>
                            <li>
                                <a class="pointer"
                                    >
                                    <i></i>
                                    <span>کالاهای بدون موجودی</span>
                                </a>
                            </li>
                            <li>
                                <a class="pointer"
                                    >
                                    <i></i>
                                    <span>کالاهای انتخاب شده</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    

                </div>
            </div>
            <div data-bind="if: ShowDetail()">
                <div class="ui-corner-all" style="background-color: #FAE2E8; padding: 1em;" >
                    <table class="table" style="background-color: transparent"
                        >
                        <thead>
                            <tr>
                                <th></th>
                                <th>شرح کالای درخواستی</th>
                                <th>کالای قطعی</th>
                                <th>مقدار مورد نیاز</th>
                                <th>مقدار تایید شده</th>
                                <th>مقدار قطعی</th>
                                <th>مقدار موجود</th>
                                <th></th>
                            </tr>
                        </thead>
                               
                        <tbody data-bind="foreach: RequestDetailGoods">
                            <tr data-bind="css: { info: isSelected() }">
                                <td>
                                    <button data-bind="checkboxImage: { checked: isSelected },visible: Qty() <= InventoryQty()" ></button>
                                </td>
                                <td style="max-width: 200px">
                                    <span data-bind="text: ItemDescription"></span>
                                </td>
                                <td>
                                    <input  
                                        data-bind="combo: { modelProp: ItemGood, valueProp: ItemGoodID, displayProp: 'No,Title', allData: true, expands: ['Scale'], callbackAfterUpdate: $root.itemGoodAfterUpdate }"/>
                                </td>
                                <td>
                                    <span data-bind="text: NeedQty"></span>
                                    <span data-bind="text: ScaleDescription"></span>
                                </td>
                                <td>
                                    <span data-bind="text: AcceptQty"></span>
                                </td>
                                <td>
                                    <input type="text" data-bind="value: Qty" style="width: 70px"/>
                                    <span data-bind="with: ItemGood">
                                        <span data-bind="with: Scale">
                                            <span data-bind="text: Title"></span>
                                        </span>
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span data-bind="if: InventoryQty() == -1">
                                        <i class="icon-question-sign"></i>
                                    </span>
                                    <span data-bind="if: InventoryQty() == -2">
                                        <img src="../../../../Content/images/loading-small.gif" style="width: 20px;height: 20px" />
                                    </span>

                                    <span data-bind="if: InventoryQty() >= 0">
                                        <!--<span data-bind="if: InventoryQty() >= 0">-->
                                            <span data-bind="text: InventoryQty"></span>
                                        <!--</span>-->

                                        <a class="pointer" 
                                           data-bind="click: $root.getInventoryQty"
                                           title="شمارش مجدد">
                                            <i class="icon-repeat"></i>
                                        </a>
                                    </span>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
                </div>
            </div>
            <hr/>
        </div>
        <div data-bind="visible: !requests.any()">
            هیچ درخواستی وجود ندارد
        </div>
    </div>
    
    <div class="visible-tablet">
        <h2 class="page-title" >نمای مخصوص تبلت</h2>
        <span class="ticket" style="width: 200px;height: 32px;margin-top: 32px"></span>
    </div>
    
    <div class="visible-phone">
        <h2 class="page-title" >نمای مخصوص موبایل</h2>
    </div>
</section>
