@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align:middle;
}

/* ******** */

body {
    color: #797979;
    /*background: #f1f2f7;*/
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}


/*-------------------content---------------------------------------------*/
/*-------------------content-right----------------------*/

.right-side {
    background-color: rgba(88, 87, 87, 0.5);
    min-height: 100px;
    padding: 50px 50px 50px 50px;
    width: 300px;
	float:right;
    text-align:center;
}

.right-profile, .right-date, .search-bar, .right-current{
    background-color:  rgba(255, 255, 255, 0.8);
    padding: 30px;
	box-shadow: 0 0 7px 0;
	color:#231f20;
	margin-bottom:20px;
}

/*search*/

.search-bar{
	height:30px !important;
	float:right;
	width:300px;

}

.search {
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("images/search-icon.jpg") no-repeat 10px 8px rgba(0, 0, 0, 0.2);
    padding:0 5px 0 35px;
    color: #fff;
}

.search:focus {
    margin-top: 5px ;
    width: 245px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
    font-weight: 300;
}

.search-go{
	background:url(images/search.png) no-repeat;
	height:33px;
	width:30px !important;
	border:none;
	float:right;
	text-indent:999px;
	overflow:hidden;
	margin:2px 0 0 10px;
}
.right-current{
	padding-right:15px;
}

.user-img{
	box-shadow:0 0 5px -2px;
	color:#000;
	height:90px;
}

/*-------------------content-main---------------------------------------*/
#main{
	background-color:#f1f2f7;
	padding: 100px 350px 0 5px;
    width: 100%;
}

.main-top{
	margin: 0 10%;
}

.sale, .order{
    background-color: #ff6c60;
    background-position: top center;
    background-repeat: no-repeat;
    color: #FFF;
    display: block;
    height: 40px;
    width: 148px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    padding: 85px 22px 0 10px;
}

.sale{
	background-image:url(images/resid-havale.png);
}

.order{
	background-image:url(images/new-order.png);
}

.sale:hover, .order:hover{
	text-decoration:none;
	color:#FFF;
	box-shadow: 1px 1px 14px -5px;
	background-color:rgba(255,103,90,0.85);
	font-size: 20px;
}

.order:hover{
	background-image:url(images/new-order-hover.png);
}

.sale:hover{
	background-image:url(images/resid-havale-hover.png);
}

#main ul li{
	background-color: #FFF;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 14px -5px;
    margin-left: 60px;
    list-style-type: none;
    float: right;
    text-align: center;
    height: 125px;
}

#main ul li:last-child{
	margin-right:0;
}

#main ul li>img{
	border-radius:6px 0 0 6px;
}

#main img+ul{
	float:right;
	width:50%;
	margin: 0;
    padding-top: 23px;
}

#main img+ul li{
	width:100%;
}

/*----------------------------main-bottom-----------------------------*/
.main-bottom{
	width: 600px;
	margin:55px 0;
	padding:0 100px;
	float:right;
}

.main-bottom-left{
	width:40%;
	float:left;
	padding-right:30px;
}

.main-bottom-right{
	width:60%;
	float:right;
}

.font-table{
	font-size:20px;
}

/*badge*/

.badge{
	margin-top: 5px;
}

.badge.bg-primary {
    background: #8075c4;
}

.badge.bg-success {
    background: #a9d86e;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-important {
    background: #ff6c60;
}


.badge.bg-info {
    background: #41cac0;
}

.badge.bg-inverse {
    background: #2A3542;
}


.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {
    color: #39b5aa;
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.progress-panel {
    padding-bottom: 5px;
}

.task-progress {
	margin: 10px;
}

.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {
    color: #39b5aa;
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.task-thumb-details p, .task-progress p {
    padding-top: 5px;
    color: #a4aaba;
}

.personal-task tbody tr td{
    padding: 11px 15px;
    border-color: #eeeff1;
}

.personal-task tbody tr td i {
    font-size: 20px;
    color: #c7cbd4;
}

.personal-task.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f7f8fc;
}

.personal-task.table-hover > tbody > tr:hover > td i{
    color: #39b5aa;
}

.personal-task > tbody > tr > td:last-child {
    text-align: right;
}

::-moz-selection {
    background: #FF6C60;
    color: #fff;
}

.h4 {
    font-size: 20px;
    display:block;
    margin:5px;
}

.h3 {
    display: block;
    font-size: 24px;
    margin:7px;
}